body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

.container {
    width: 90%;
    margin: auto;
    
}

header{
    width:100% ;
    height:60px ;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left:0;
    z-index: 1000;

}

.topContainer {
    display: flex; 
    align-items: center;  
    justify-content: space-between;
    gap: 10px;
    margin-top: 70px;
    width: 100%
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #0500ff;
}

tr:last-child td {
    border-bottom: none;
}

tbody{
    background-color: #ffffff;
}


h1 {
    size: 20px;
    font-weight: 500;
}

h2 {
    size: 16px;
    font-weight: 500;
}

h3 {
    size: 16px;
    font-weight: 400;
}

@media (max-width: 768px) {
    .desktopView { display: none ; }
    .mobileView { display: block ; }
}

@media (min-width: 769px) {
    .desktopView { display: table; }
    .mobileView { display: none; }
}

